.main {
         position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;   

        h1 {
            font-size: 55px;
        }
        .icon {
            height: 55px;
            vertical-align: baseline;
        }

        button {
            padding: 10px;
            font-size: 30px;
            border-radius: 30px;
            border: 3px solid rgb(0, 0, 0);
            
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
