<div class="questions" [ngClass]="isResult ? 'result' : 'quiz'">
    <div *ngIf="currentQuestion.pokemonId; else noQuestion">
        <div class="pokeImage">
            <img  [src]="currentQuestion.pokemonImage" alt="">
        </div>
        <div  class="question-container">
            <button *ngFor="let answer of currentQuestion.answers" type="button" class="btn btn-outline-danger"
            [ngClass]="{'correct': answer == currentQuestion.correctAnswer,
            'selected': answer == currentAnswer}"
            [attr.disabled]="isResult ? true : null"
            [attr.data-value]="answer"
            (click)="checkAnswer($event)">
            {{ answer }}
            </button>
        </div>
        <div [ngClass]="{'hidden': !isResult}">
            <button class="btn btn-outline-danger" (click)="nextQuestion()">Next Question</button>
        </div>
    </div>
    <ng-template #noQuestion>
        <div class="error-container">
            <h1>Something went wrong, please try again</h1>
            <button class="btn btn-outline-danger" (click)="nextQuestion()">Retry</button>
        </div>
    </ng-template>
</div>

