.main-container {
    margin: 5px;
    padding: 5px 20px;
    font-family:'Courier New', Courier, monospace;
    background-image: url(../assets/bakcground.jpg);
    min-height: 600px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    .container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center; 
    }
}